.App {
  width: 70%;
  margin: auto;
}

input {
  font-size: 1rem;
}

.display-none {
  display: none;
}

#app-headers {
  display: flex;
}

#app-headers h2 {
  margin: 1.5rem 5rem;
}

.unfocused-header {
  opacity: 0.35;
}

.app-grid {
  display: grid;
  margin-left: 4rem;
}

.note-info {
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.App button {
  padding: 0.5rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.note-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-tags {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1rem 0;
  text-align: center;
}

.note-tags .tag-name {
  margin: 0 0.5rem;
  padding: 0.2rem;
  background: #dfdede;
}

#add-tag-inputs {
  display: flex;
  margin: 1rem;
}

#add-tag-inputs input {
  margin-right: 1rem;
}

.all-tags {
  width: 40%;
}

.all-tags .tag-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.tag-info .tag-name {
  font-weight: 600;
}

.delete-tag {
  text-decoration: underline;
  color: red;
}

.modal-wrapper {
  display: block;
}
