#app-wrapper {
  height: 100vh;
}

.app {
  width: 60%;
  margin: auto;
}

.grayed-out {
  background: #bbb;
}

input {
  padding: 0.35rem;
}

input,
textarea {
  font-size: 1.3rem;
  border: 1px solid black;
  margin: 0;
}

button {
  padding: 0.5rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.display-none {
  display: none;
}

#app-headers {
  display: flex;
}

#app-headers h2 {
  margin: 1.5rem 5rem;
}

.unfocused-header {
  opacity: 0.35;
}

.app-grid {
  display: grid;
  margin-left: 4rem;
}

.note-info {
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.note-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-tags {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 1rem 0;
  text-align: center;
}

.note-tags .tag-name {
  margin: 0 0.5rem;
  padding: 0.2rem;
  background: #dfdede;
}

#add-tag-inputs {
  display: flex;
  margin: 1rem;
}

#add-tag-inputs input {
  margin-right: 1rem;
}

.all-tags {
  width: 40%;
}

.all-tags .tag-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.tag-info .tag-name {
  font-weight: 600;
}

.delete-tag {
  text-decoration: underline;
  color: red;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.modal-center {
  background: white;
  width: 50%;
  margin-left: 4rem;
  margin-top: 2.5rem;
  border: 1px solid black;
  padding: 1rem;
}

#add-note-grid > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

#add-note-grid label {
  font-size: 1.3rem;
  font-weight: 600;
}

#tag-checkboxes {
  border: 1px solid gray;
  overflow: scroll;
  height: 20vh;
  max-height: 100%;
  padding: 0.5rem;
  flex: 0.7;
}

#tag-checkboxes > div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

#tag-checkboxes > div > label {
  flex: 1.5;
}

#tag-checkboxes > div > input {
  flex: 0.3;
}

#tag-checkboxes input:checked + label {
  color: #3541fdd4;
}

#add-note-grid textarea {
  resize: none;
}
